.center{
  width: 75%;
  padding-top: 25%;
  max-height: 60%;
  margin: 0 auto;
}

.centerText{
  text-align: center;
}

h1{
  color: white;
  text-shadow: 2px 0px 1px black, -2px 0px 1px black, 0px -2px 1px black, 0px 2px 1px black;
}

body{
  background-color: rgb(190, 32, 32);
}

ul.saves{
  list-style: none;
  padding: 0px;
}

ul.saves li{
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #CCC;
  text-align: center;
  border: 1px solid #777;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 48px;
}

ul.mainList{
  list-style: none;
  padding: 0px;
}

ul.mainList li{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #CCC;
    text-align: center;
    border: 1px solid #777;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 48px;
}

ul.mainList li:hover{
  background-color: #888;
}

.footer{
  position: fixed;
  right: 2px;
  bottom: 2px;
  font-size: 12px;
}
